-- CreateTable
CREATE TABLE "SymbolNTDSCWSCategory" (
    "SymbolCategoryID" SMALLINT NOT NULL,
    "SymbolCategoryNameEN" VARCHAR(200),
    "SymbolCategoryNameBM" VARCHAR(200),
    "SymbolDescription" VARCHAR(200),

    CONSTRAINT "SymbolNTDSCWSCategory_pkey" PRIMARY KEY ("SymbolCategoryID")
);

-- CreateTable
CREATE TABLE "SymbolNTDSCWSType" (
    "SymbolTypeID" SMALLINT NOT NULL,
    "SymbolTypeNameEN" VARCHAR(50),
    "SymbolTypeNameBM" VARCHAR(50),
    "SymbolTypeDescription" VARCHAR(100),

    CONSTRAINT "SymbolNTDSCWSType_pkey" PRIMARY KEY ("SymbolTypeID")
);

-- CreateTable
CREATE TABLE "SymbolNTDSCWSUnit" (
    "SymbolUnitID" SMALLINT NOT NULL,
    "SymbolCategoryID" SMALLINT,
    "SymbolUnitNameEN" VARCHAR(200),
    "SymbolUnitNameBM" VARCHAR(200),
    "SymbolDescription" VARCHAR(200),

    CONSTRAINT "SymbolNTDSCWSUnit_pkey" PRIMARY KEY ("SymbolUnitID")
);

-- CreateTable
CREATE TABLE "SymbolNTDSCWS" (
    "SymbolID" INTEGER NOT NULL,
    "SymbolUnitID" SMALLINT,
    "SymbolTypeID" SMALLINT,
    "FontFamily" VARCHAR(200),
    "FontCharacter" CHAR(10),
    "ColorCode" VARCHAR(20),
    "SymbolOrientationID" SMALLINT,
    "SymbolName" VARCHAR(100),
    "SequenceNo" SMALLINT,

    CONSTRAINT "SymbolNTDSCWS_pkey" PRIMARY KEY ("SymbolID")
);

-- AddForeignKey
ALTER TABLE "SymbolNTDSCWSUnit" ADD CONSTRAINT "SymbolNTDSCWSUnit_SymbolCategoryID_fkey" FOREIGN KEY ("SymbolCategoryID") REFERENCES "SymbolNTDSCWSCategory"("SymbolCategoryID") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SymbolNTDSCWS" ADD CONSTRAINT "SymbolNTDSCWS_SymbolUnitID_fkey" FOREIGN KEY ("SymbolUnitID") REFERENCES "SymbolNTDSCWSUnit"("SymbolUnitID") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SymbolNTDSCWS" ADD CONSTRAINT "SymbolNTDSCWS_SymbolTypeID_fkey" FOREIGN KEY ("SymbolTypeID") REFERENCES "SymbolNTDSCWSType"("SymbolTypeID") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SymbolNTDSCWS" ADD CONSTRAINT "SymbolNTDSCWS_SymbolOrientationID_fkey" FOREIGN KEY ("SymbolOrientationID") REFERENCES "SymbolOrientation"("SymbolOrientationID") ON DELETE SET NULL ON UPDATE CASCADE;

